@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    color: #6d6d6d;
    background-color: #1F1F1F;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.footer {
    color: var(--light);
}

.bg-dark {
    background-color: #282828 !important;
}

.fa, .fab, .fad, .fal, .far, .fas {
    line-height: inherit;
}

.btn-main, .btn-footer {
    color: #FFF !important;
    background-color: rgba(40, 40, 40, 0.8);
    border-color: rgba(40, 40, 40, 0.8);
    transition: all 0.1s;
}

.btn-main:hover, .btn-main:active, .btn-main:focus, .btn-footer:hover, .btn-footer:active, .btn-footer:focus {
    color: #FFF !important;
    background-color: rgba(58, 58, 58, 1);
    border-color: rgba(58, 58, 58, 1);
    transition: all 0.2s;
}

.btn-footer {
    width: 100%;
    font-size: 26px;
}

#navbar {
    height: 56px;
    /* max-height: 15vh; */
}

#navbar-container {
    padding: 0 !important;
}

.navbar {
    padding: 0 16px;
}

.navbar-brand {
    font-family: Oswald;
    vertical-align: middle;
}

.name-font {
    font-size: 1.125rem;
}

.btn-back {
    color: #FFF !important;
    background-color: rgba(50, 50, 50, 1);
    border-color: rgba(50, 50, 50, 1);
    transition: all 0.1s;
}

.btn-back:hover {
    color: #FFF !important;
    background-color: rgba(58, 58, 58, 1);
    border-color: rgba(58, 58, 58, 1);
    transition: all 0.1s;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

.avatar-img {
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

.avatar-btn, .avatar-btn-md, .avatar-btn-lg {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
}

.avatar-btn, .avatars-list-avatar {
    width: 35px;
    height: 35px;
}

.avatar-btn-md {
    width: 75px;
    height: 75px;
}

.avatar-btn-lg {
    width: 125px;
    height: 125px;
}

.avatar-btn:active, .avatar-btn:focus, .avatar-btn-md:active, .avatar-btn-md:focus, .avatar-btn-lg:active, .avatar-btn-lg:focus {
    border-color: var(--primary) !important;
}

#nav-icon {
    transition: all 325ms ease-in-out;
  }
  

#sidebarCollapse.active > #nav-icon {
    transform: rotate(90deg);
}

.sign-btn:active, .sign-btn:focus, .sign-btn:hover {
    box-shadow: 
      -0.1em -0.1em 0 0 var(--primary),
      inset -0.1em -0.1em 0 0 var(--primary);
    background-color: rgba(58, 58, 58, 1);
    color: var(--primary) !important;
}

.sign-btn {
    color: var(--primary);
    border-radius: unset;
    text-transform: uppercase;
    transition: 0.25s;
    box-shadow: 
      0.1em 0.1em 0 0 var(--primary),
      inset 0.1em 0.1em 0 0 var(--primary);
}

.nav-avatar:active, .nav-avatar:focus, .nav-avatar:hover {
    box-shadow: 0 0.5em 0.75em -0.3em var(--info);
    transform: translateY(-0.15em);
}

.nav-avatar, .nav-avatar-img {
    transition: 0.25s;
    transition-delay: 125ms;
}

.nav-avatar:hover, .nav-avatar-img:hover {
    transition: 0.5s;
}

.nav-avatar-img:active, .nav-avatar-img:focus, .nav-avatar-img:hover {
    transform: rotate(360deg);
}

.modal-header, .modal-footer, .dropdown-divider {
    border-color: rgba(58, 58, 58, 1);
}

.avatar-radio[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.avatar-radio[type=radio] + img {
    cursor: pointer;
}

.default-avatar {
    border-width: 0.15rem !important;
}

.avatars-list-avatar {
    cursor: pointer;
}

/* * {
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
} */

pre {
    white-space:pre-wrap;
}

::selection {
    background-color: #333;
    color: white;
}

.dropdown-item {
    color: rgb(230, 230, 230);
}

.dropdown-item:hover {
    background-color: #333;
    color: white;
}

#avatar-upload {
    display: none;
}

.page-link {
    color: #8d8d8d;
    background-color: rgb(47, 47, 47);
    border: 1px solid rgb(52, 52, 52);
}

.page-link:hover {
    color: #acabab;
    background-color: rgb(45, 45, 45);
    border: 1px solid rgb(60, 60, 60);
}

.page-item.active .page-link {
    color: #dddddd;
    background-color: rgb(65, 65, 65);
    border: 1px solid rgb(70, 70, 70);
}

.page-item, .page-link {
    transition: all 0.2s !important;
}